DATABASE_URL=<your-database>
GEMINI_API_KEY=<your-gemini-api-key>
SECRET_KEY=<your-jwt-token>

# For docker-compose
POSTGRES_USER=<db-username>
POSTGRES_PASSWORD=<db-password>
POSTGRES_DB=<db-name>
DB_PORT=5432