alembic
bcrypt
email-validator
fastapi
httpx
itsdangerous
Jinja2
orjson
passlib
psycopg2-binary
pydantic
pydantic-extra-types
pydantic-settings
pytest
python-dotenv
python-jose
python-multipart
PyYAML
SQLAlchemy
ujson
uvicorn
uvloop
watchfiles
websockets